@import "tailwindcss";

:root {
  --color-primary: #8d6bdc;
  --color-secondary: #e0d4ff;
  --color-bg: #efefef;
  --color-sidebar: #ffffff;
  --color-gray: #5d5d5d;
}

html {
  scroll-behavior: smooth;
}




.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 120%;
  height: 120%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
